[Unit]
Description=Expense Backend Service
After=network.target

[Service]
User=expense
WorkingDirectory=/app
ExecStart=/usr/bin/node /app/index.js
Restart=always
Environment=DB_HOST=mysql.jioairlines.online
Environment=DB_USER=root
Environment=DB_PASSWORD=ExpenseApp@1

[Install]
WantedBy=multi-user.target
